<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LogiTrackAndroid"
        tools:targetApi="31">

        <!-- Activities -->
        <activity
            android:name=".SignUpActivity"
            android:exported="true" >
            <!-- Define SignUpActivity -->
        </activity>

        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <!-- Define LoginActivity -->
        </activity>

        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <!-- Define SplashScreenActivity as the launcher activity -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <!-- Declare SplashScreenActivity as the launcher activity -->
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true" >
            <!-- Define MainActivity -->
        </activity>

        <!-- Meta-data -->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <!-- Define preloaded_fonts -->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyADsbWoXVAWUEJ8OQ0Ssq16imJHeQnwA2U"
            />

    </application>

</manifest>
